/* Primary Background Color */

.cherries {
    background-color: #b01c2d;
}

/* Navbar bg Color */
.navbar {
    background-color: #b01c2d;
}

.navbar .navbar-brand {
    background-color: #1299ad;
}

.navbar .navbar-brand:hover {
    color: #1299ad;
}

.navbar .navbar-nav li a {
    color: white;
    font-size: 24px;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: #b01c2d;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: #1299ad;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #1299ad;
    border-width:  2px;
  }

  .nav-item .nav-link:hover {
    background-color: #b01c2d77;
    border: none;
    color: white;
    padding: 8px 8px;
    font-size: 24px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
  }

  .nav-item {
      padding-left: 30px;
  }

/* Text Colors */
.primary-color a h1 {
    color: white;
}

.primary-color li a {
    color: white;
}

/* Jumbotron bg Image */
.header-image {
    background-image: url('../images/cherries3.jpg');
}

/* Jumbotron Font*/
.header-font {
    color: white
}

.opacity {
    background-color: #b01c2d;

    
}

.home {
    font-family: 'Galada', cursive;
    font-size: 72px;
    text-align: center;
}
.home1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
}
.h3 {
    font-family: 'Righteous', cursive;
    font-size: 48px;
    color: white;
    text-align: center;
}

/* Jumbotron Image */
.imgborder {
    border-radius: 50%;
    border-color: #1299ad !important; 
    border-width: 6px solid !important;
}


/* Grid Styling */

* {
    box-sizing: border-box;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    padding: 30px;
  }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.bgchange {
 background-color: #1299ad;
}

.col-6 {
    margin-left: auto;
    margin-right: auto;
}

/* Recipe Styling */

.recipe {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    color: white;
}  
.ebc {
    font-family: 'Righteous', cursive;
    font-size: 56px;
    background-color: #1299ad;
    color: white;
    text-align: center;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.newfont {
    font-family: 'Righteous', cursive;
    font-size: 48px;
    color: white;
    text-align: center;
}

.text-align {
    text-align: center;
}

.block-text {
    display: flex;
    align-items: center;
    justify-content: center
}


/* New Nutritional Information*/

.table, th, td, tr {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #1299ad;
    color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

.table {
    max-width: 100%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #b01c2d;
}


/* New Nutritional Information Ends */

/* Footer */
.footer {
    color: white;
    background-color: #b01c2d;
    text-align: center;
}

/* Images & Media Queries */

@media screen and (max-width: 576px) {
  img {
        max-width: 100%;
        height: auto;
      }
 .column {
    flex: 100%;
    max-width: 75%;
  }
  .table {
    max-width: 75%;
}
}

@media screen and (max-width: 768px) {
  img {
        max-width: 100%;
        height: auto;
      }
 .column {
    flex: 100%;
    max-width: 75%;
  }
  .table {
    max-width: 75%;
}
}

@media screen and(max-width: 992px) {
  img {
        max-width: 100%;
        height: auto;
      }
 .column {
    flex: 100%;
    max-width: 100%;
  }
  .table {
    max-width: 75%;
}
}

@media screen and (max-width: 1200px) {
  img {
        max-width: 100%;
        height: auto;
      }
 .column {
    flex: 100%;
    max-width: 100%;
  }
  .table {
    max-width: 75%;
}
}
