/* Primary Background Color */

.cherries {
    background-color: #b01c2dcb;
   /* background-image: url("../images/Cherries 3.jpg"); */
}

/* Navbar bg Color */
.navbar {
    background-color: #b01c2d;
}

.navbar .navbar-brand {
    background-color: #1299ad;
}

.navbar .navbar-brand:hover {
    color: #1299ad;
}

.navbar .navbar-nav li a {
    color: white;
    font-size: 24px;
}

.navbar .nav-item .dropdown-menu .dropdown-item{
    color: #b01c2d;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover{
    color: #1299ad;
}

.navbar-toggler {
    background-color: #1299ad;
}


/* Text Colors */
.primary-color a {
    color: white;
}

.primary-color li a {
    color: white;
}

/* Jumbotron bg Image */
.header-image {
    background-image: url('../images/Cherries 3.jpg');
}

/* Jumbotron Font*/
.header-font {
    color: white
}

.opacity {
    background-color: #1298ad3f;
}
.home {
    font-family: 'Galada', cursive;
    font-size: 72px;
}
.home1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}
.h3 {
    font-family: 'Rochester', cursive;
    font-size: 54px;
    font-weight: bold;
}

/* Jumbotron Image */
.border {
    border-radius: 50%;
    border-style: solid;
    border-color: #b01c2d;
    border-width: 2px;
}

/* Recipe Styling */
.recipe {
    font-family: 'Maven Pro', sans-serif;
    font-size: 24px;
    color: white;
}   

/* Nutritional Information*/

.nutrition-label-container {
    table-layout: fixed;
    width: 280px;
    background-color: #1299ad;
    border-style: solid;
    border-width: 10px;
    border-color: #b01c2d;
    color: white;
}

/* Images & Media Queries */

@media (max-width: 576px) {
 img {
     width: 100%;
 }
}

@media (max-width: 768px) {
 img {
     width: 100%;
 }
}

@media (max-width: 992px) {
 img {
     width: 100%;
 }
}

@media (max-width: 1200px) {
 img {
     width: 100%;
 }
}
